[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"enum34" = "*"
pytz = "*"
flask-cors = "*"
flask-sockets = "*"
jsonrpc = "*"
# TODO uncomment
# "RPi.GPIO" = "*"
"smbus2" = "*"
json-rpc = "*"
python-language-server = {extras = ["pyflakes"],version = "*"}
fake-rpigpio = "*"
rope = "*"

[dev-packages]
pylint = "*"
"flake8-future-import" = "*"
"flake8" = "*"

[requires]
python_version = "3.6.9"
