[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"enum34" = "*"
pytz = "*"
python-language-server = "*"
flask-cors = "*"
flask-sockets = "*"
jsonrpc = "*"
# TODO uncomment
# "RPi.GPIO" = "*"
"smbus2" = "*"
json-rpc = "*"
ujson = "*"

[dev-packages]
"flake8" = "*"
"flake8-future-import" = "*"
"fake-rpigpio" = "*"
pylint = "<2.0.0"
rope = "*"

[requires]
python_version = "2.7"
