$sidebar-width: 250px;

@mixin scrollbar($background-color: #222222) {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: $background-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #333333;
    &:hover {
      background-color: #444444;
    }
  }
}