html {
  background-color: hsl(170, 10%, 90%);
}

body {
  max-width: 50em;
  margin: 8px auto;
  padding: 1em;
  min-height: calc(100vh - 16px);
  background-color: #fff;
}

.index-navigation {
  text-align: center;
}

.index-navigation > p > a {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 36px;
}

.index-navigation > p > a > img {
  width: 180px;
  height: 180px;
}

