<!--TODO auto generate licences?-->
{% extends "page.html" %}
{% block body %}
{{ super() }}
<h2>Copyright notices</h2>
<p>Shepherd uses the Ubuntu and Ubuntu Mono fonts, which are used under the <a href="http://font.ubuntu.com/ufl/">Ubuntu Font License 1.0</a>, as well as Inter UI, which is used under the <a href="https://choosealicense.com/licenses/ofl-1.1/">Open Font License 1.1</a>.</p>
<p>Shepherd is written in Python 2, and uses the Flask and enum34 libraries, used under the BSD licence, and the ptyz library, used under the MIT licence.</p>
{% endblock %}
